<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Car Brands
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?brand=BMW" class="dropdown-item">BMW</a>
                <a href="{% url 'products' %}?brand=Honda" class="dropdown-item ">Honda</a>
                <a href="{% url 'products' %}?brand=Mercedes" class="dropdown-item ">Mercedes</a>
                <a href="{% url 'products' %}?brand=Toyota" class="dropdown-item ">Toyota</a>
                <a href="{% url 'products' %}?brand=BMW,Honda,Mercedes,Toyota" class="dropdown-item">All Brands</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Car Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?accessory_type=Internal" class="dropdown-item">Interior Car Parts</a>
                <a href="{% url 'products' %}?accessory_type=External" class="dropdown-item">Exterior Car Parts</a>
                <a href="{% url 'products' %}?accessory_type=Engine" class="dropdown-item">Engine Parts</a>
                <a href="{% url 'products' %}?accessory_type=Others" class="dropdown-item">Others</a>
                <a href="{% url 'products' %}?accessory_type=Internal,External,Engine,Others" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?condition=New" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?Condition=Used" class="dropdown-item">Used Car Deals</a>
                <a href="{% url 'products' %}?credit_available=True" class="dropdown-item">Credit Options</a>
            </div>
        </li>
    </ul>
</div>