.fieldset-label {
    position: relative;
    right: .5rem;
    margin-bottom: 1rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
    margin-bottom: 1.5rem;
}
